* {
	box-sizing: border-box;
}

html {
	font-size: 20px;
}

body {
	margin: 0;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	height: 100%;
	background-color: #6a1b9a;
	color: #FFF;
	font-family: 'Roboto',sans-serif;
	flex-direction: column;
	align-items: center;

}

a, a:visited{
	color:yellowgreen;
}

aside{
	width: calc(100% - 430px);
}

aside p{
	text-align: justify;
}

#login {
	display: flex;
	flex-direction: column;
}

#login label{
	margin-bottom: 10px;
}

#login label input {
	font-size: 1rem;
	padding: 5px;
}

#login button {
	font-size: 1rem;
	border: none;
	padding: 10px;
}

main {
	background-color: #9c4dcc;
	padding: 20px;
	width: 400px;
	display: none;
}

form{
	display: flex;
}

form input {
	display: block;
	width:calc(100% - 100px);
	font-size: 1rem;
	padding: 5px;
	align-items: stretch;
}

form button {
	width:100px;
	display: block;
	font-size: .7rem;
	border: none;
}

table{
	width: 100%;
	table-layout:fixed;
	border-collapse: collapse;
}

td{
	border-bottom: 1px solid rgba(255,255,255,.3);
	padding: 10px 0;
}

tr:hover td{
	background-color: rgba(255,255,255,.1);
}


td:nth-child(1){
	width: 24px;
}

td:nth-child(3){
	width: 72px;
	font-size: 12px;
	text-align: center;
}

td:nth-child(2){
	cursor: default;
}

td:nth-child(4){
	width: 36px;
}

tr.done td:nth-child(2){
	text-decoration: line-through;
}

table input[type=checkbox]{
	cursor: pointer;
}

table i{
	cursor: pointer;
	opacity: .8;
}

table i:hover{
	opacity: 1;
}